html, body, main {
    height: 92vh
}

#playground-page {
    display: flex;
}

/* Options */

#options {
    height: 100%;
    width: 20%;
    background-color: gray;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1rem;
}

.option {
    cursor: move;
    width: 10rem;
}

/* main */

#content {
    width: 80%;
    display: flex
}

#target {
    border: 1px solid black;
    width: 20rem;
    margin-left: 2rem;
    padding: 3rem;
}

/* #target.onHover {
    background-color: lightgreen;
} */

#target .option {
    margin-top: -1rem;
}

#interactables {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#trash img {
    width: 10rem;
}

#trash.onHover {
    border: 5px solid darksalmon;
}

#play {
    text-align: center;
    margin: 2rem;
}