html, body, main {
    height: 97vh
}
body{
    background-image: url("../assets/Background.png");
    background-size:contain; 
}
#playground-page {
    display: flex;
}

/* Options */

#options {
    border-radius: 1rem;
    width: 20%;
    background-color: rgb(255, 255, 255,0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
}

.option {
    cursor: move;
    width: 10rem;
}

/* Sensors */

#sensor-options {
    display: flex;
    flex-wrap: wrap;
    width: 10rem;
}

.sensor {
    cursor: move;
    width: 2.7rem;
    margin: 0 0.1rem;
    z-index: 100;
}

.option-sensor {
    position: relative;
}

.sensor-container {
    cursor: initial;
    display: flex;
    flex-wrap: wrap;
    width: 10rem;
    min-height: 3rem;
    position: absolute;
    top: 2.75rem;
    left: 1.4rem;
}

.sensor-container.onHover {
    background-color:rgb(255, 255, 255,0.7);
}

/* main */

#content {
    width: 80%;
    display: flex;
    justify-content:space-between;
}

#target {
    border: 0px solid black;
    width: 20rem;
    margin-left: 2rem;
    padding: 3rem;
}

/* #target.onHover {
    background-color: lightgreen;
} */

#target .option {
    margin-top: -1rem;
}

#interactables {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.interactables-button{
    display:flex;
    align-items: center;
    padding:1rem;
    color: white;
    border-radius: 3rem;   
    background-color: #95c11f; 
    border: none;
    font-family: 'Heebo', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
}

.interactables-button:hover{
    padding:1rem;
    color: white;
    border-radius: 2rem;
    box-shadow: 0px 0px 0px 0.25rem rgba(0,0,0,0.1)
}

.interactables-button:focus{
    border: none;
    box-shadow: 0px 0px 0px 0.25rem rgba(0,0,0,0.3)
}


#trash img {
    width: 6rem;
}

.interactables-button img{
    width: 1.5rem;
    padding-left: 1rem;
    color:white;
}

#play {
    text-align: center;
    margin: 2rem;
}