/*
morado:#913b8e
Rojo: #e94d5c
azul: #48acd3
amarillo: #f9b807
verde: #95c11f
*/
body{
    overflow:hidden;
}
#content {
    display: flex;
    margin-top:calc(15vh + 10px);
    height: 83vh;
    overflow: hidden;
    background-image: url("../assets/Background.png");
    background-size: contain;
}

.hide {
    display: none;
}

.title-img {
    margin-top:10px;
    height: 20vh;
    width: 100%;
    position:fixed;
    top: 0;
}

/**Graficas **/

#visualizacion {
    width: 80%;
    height: 100%;
    overflow-y: auto;
}

#visualizacion h1 {
    text-align: center;
    padding: 1.5rem;
    background-color: #48acd3;
    color: white;
    font-weight: bolder;
}

.sensor_vis {
    padding: 1rem;
}

.sensor_vis .card-img-top {
    height: 35vh;
    padding: 2rem;
}

.sensor_vis h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

.sensor_vis .card-title {
    text-align: center;
    font-size: 2.5rem;
}

.sensor_vis .card-text {
    font-size: 1.rem;
}

.sensor_vis .card-body {
    padding: 0.5rem 1rem;
}

.sensor_vis .sensor_vis-data {

}

.sensor_vis-desc {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 1rem;
    background-color: rgb(255, 255, 255, 0.7);
}

/**sensores seleccionados **/

#sensors-container {
    background-color: rgb(255, 255, 255, 0.7);
    width: 20%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

#sensors-container h3 {
    margin: 1rem;
    color:#3c3c3c;
}

.sensor-options {
    margin: 0.75rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.sensor-options .sensor {
    width: 3rem;
    margin: 0.2rem;
}