<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="../css/playground.css">
    <title>CanSat</title>
</head>

<body>
    <main id="playground-page">
        <div id="options">
            <div class="option cont-option option-power">
                <img src="../assets/playground/options/Potencia.svg">
            </div>

            <div class="option cont-option option-telecom">
                <img src="../assets/playground/options/Telecomunicacion.svg">
            </div>

            <div class="option cont-option option-computer">
                <img src="../assets/playground/options/Computadora.svg">
            </div>
            <div class="option cont-option option-sensor">
                <img src="../assets/playground/options/Sensoresx1.svg">
                <div class="sensor-container"></div>
            </div>

            <div id="sensor-options">
                <div class="sensor sensor-option temperature">
                    <img src="../assets/playground/sensors/temperature.svg">
                </div>
                <div class="sensor sensor-option pressure">
                    <img src="../assets/playground/sensors/pressure.svg">
                </div>
                <div class="sensor sensor-option humidity">
                    <img src="../assets/playground/sensors/humidity.svg">
                </div>
                <div class="sensor sensor-option height">
                    <img src="../assets/playground/sensors/height.svg">
                </div>
                <div class="sensor sensor-option time">
                    <img src="../assets/playground/sensors/time.svg">
                </div>
                <div class="sensor sensor-option co2">
                    <img src="../assets/playground/sensors/co2.svg">
                </div>
                <div class="sensor sensor-option uv-ray">
                    <img src="../assets/playground/sensors/uv-ray.svg">
                </div>
                <div class="sensor sensor-option camera">
                    <img src="../assets/playground/sensors/camera.svg">
                </div>
                <div class="sensor sensor-option location">
                    <img src="../assets/playground/sensors/location.svg">
                </div>
            </div>
        </div>

        <div id="content">
            <div id="target">

            </div>
            <div id="interactables">
                <div id="play">
                    <button class="interactables-button">
                        Inicio
                        <img src="../assets/Play.svg" alt="play">
                    </button>
                </div>
                <div id="trash">
                    <img src="../assets/trash-close.svg" alt="trash">
                </div>
            </div>
        </div>
    </main>
</body>

<script>if (typeof module === 'object') { window.module = module; module = undefined; }</script>

<script src="../js/jquery-3.3.1.min.js"></script>
<script src="../js/jquery-ui.min.js"></script>
<script src="../js/playground.js"></script>

<script>if (window.module) module = window.module;</script>


</html>