<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="../css/playground.css">
    <title>CanSat</title>
</head>

<body>
    <main id="playground-page">
        <div id="options">
            <div id="option-1" draggable="true" class="draggable-option"></div>
            <div id="option-2" draggable="true" class="draggable-option"></div>
            <div id="option-3" draggable="true" class="draggable-option"></div>
            <div id="option-4" draggable="true" class="draggable-option"></div>
            <div id="option-5" draggable="true" class="draggable-option"></div>
            <div id="option-6" draggable="true" class="draggable-option"></div>
            <div id="option-7" draggable="true" class="draggable-option"></div>
        </div>
        <div id="content">
        </div>
    </main>
</body>

<script src="../js/playground.js"></script>

</html>