<!DOCTYPE html>
<html lang="en">

<head>
    <title>Visualizador</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="../css/visualizer.css">
    <link href="../fonts/Heebo/Heebo-Bold.ttf" rel="stylesheet">
    <link rel="stylesheet" href="../css/bootstrap-css/bootstrap.min.css">
</head>

<body style="background-color:#48acd3">
    <img src="../assets/visualizer/CienciaConDatos.svg" class="title-img"></img>

    <div id="content">
        <div id="visualizacion">
            <div class="vis-flashcards">
                <div class="flashcard" id="temperatura" style="background-color:#f9b807">
                    <img class="flashcard-img"></img>

                </div>
            </div>

            <div class="container-fluid sensor_vis" id="vis-temperatura">
                <h3> Temperatura </h3>
                <div class="row">
                    <div class="col-4">
                        <div class="card">
                            <img class="card-img-top" style="background-color:#f9b807"
                                src="../assets/visualizer/icons/Temperatura.png" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">Actual</p>
                                <h5 class="card-title">15* C </h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-8 sensor_vis-data">
                        chart
                    </div>
                </div>
                <div class="sensor_vis-desc">
                    Descripcion
                </div>
            </div>

            <div class="container-fluid sensor_vis" id="vis-presion">
                <h3> Presion </h3>
                <div class="row">
                    <div class="col-4">
                        <div class="card">
                            <img class="card-img-top" style="background-color:#e94d5c"
                                src="../assets/visualizer/icons/Presion.svg" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">Actual</p>
                                <h5 class="card-title">15* C </h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-8 sensor_vis-data">
                        chart
                    </div>
                </div>
                <div class="sensor_vis-desc">
                    Descripcion
                </div>
            </div>

            <div class="container-fluid sensor_vis" id="vis-humedad">
                <h3> Humedad </h3>
                <div class="row">
                    <div class="col-4">
                        <div class="card">
                            <img class="card-img-top" style="background-color:#48acd3"
                                src="../assets/visualizer/icons/Humedad.svg" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">Actual</p>
                                <h5 class="card-title">15* C </h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-8 sensor_vis-data">
                        chart
                    </div>
                </div>
                <div class="sensor_vis-desc">
                    Descripcion
                </div>
            </div>

            <div class="container-fluid sensor_vis" id="vis-altura">
                <h3> Altura </h3>
                <div class="row">
                    <div class="col-4">
                        <div class="card">
                            <img class="card-img-top" style="background-color:#95c11f"
                                src="../assets/visualizer/icons/Altura.svg" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">Actual</p>
                                <h5 class="card-title">15* C </h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-8 sensor_vis-data">
                        chart
                    </div>
                </div>
                <div class="sensor_vis-desc">
                    Descripcion
                </div>
            </div>

            <div class="container-fluid sensor_vis" id="vis-co2">
                <h3> Co2 </h3>
                <div class="row">
                    <div class="col-4">
                        <div class="card">
                            <img class="card-img-top" style="background-color:#3c3c3c"
                                src="../assets/visualizer/icons/Co2.svg" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">Actual</p>
                                <h5 class="card-title">15* C </h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-8 sensor_vis-data">
                        chart
                    </div>
                </div>
                <div class="sensor_vis-desc">
                    Descripcion
                </div>
            </div>

            <div class="container-fluid sensor_vis" id="vis-uv-ray">
                <h3> Rayos Ultravioleta </h3>
                <div class="row">
                    <div class="col-4">
                        <div class="card">
                            <img class="card-img-top" style="background-color:#913b8e"
                                src="../assets/visualizer/icons/RayosUV.svg" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">Actual</p>
                                <h5 class="card-title">15* C </h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-8 sensor_vis-data">
                        chart
                    </div>
                </div>
                <div class="sensor_vis-desc">
                    Descripcion
                </div>
            </div>

            <div class="container-fluid sensor_vis" id="vis-time">
                <h3> Tiempo </h3>
                <div class="row">
                    <div class="col-4">
                        <div class="card">
                            <img class="card-img-top" style="background-color:#3b4c4d"
                                src="../assets/visualizer/icons/RayosUV.svg" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">Actual</p>
                                <h5 class="card-title">15* C </h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-8 sensor_vis-data">
                        chart
                    </div>
                </div>
                <div class="sensor_vis-desc">
                    Descripcion
                </div>
            </div>

            <div class="container-fluid sensor_vis" id="vis-camera">
                <h3> Camara </h3>
                <div class="row">
                    <div class="col-4">
                        <div class="card">
                            <img class="card-img-top" style="background-color:#967094"
                                src="../assets/visualizer/icons/RayosUV.svg" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">Actual</p>
                                <h5 class="card-title">15* C </h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-8 sensor_vis-data">
                        chart
                    </div>
                </div>
                <div class="sensor_vis-desc">
                    Descripcion
                </div>
            </div>

            <div class="container-fluid sensor_vis" id="vis-location">
                <h3> Ubicacion </h3>
                <div class="row">
                    <div class="col-4">
                        <div class="card">
                            <img class="card-img-top" style="background-color:#2685b1"
                                src="../assets/visualizer/icons/RayosUV.svg" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">Actual</p>
                                <h5 class="card-title">15* C </h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-8 sensor_vis-data">
                        chart
                    </div>
                </div>
                <div class="sensor_vis-desc">
                    Descripcion
                </div>
            </div>
        </div>

        <div id="sensors-container">
            <h3>Sensores activos</h3>
            <div class="sensor-options">
                <div id="sensor-temperatura" class="sensor">
                    <img src="../assets/visualizer/sensors/placeholder.svg">
                </div>
                <div id="sensor-presion" class="sensor">
                    <img src="../assets/visualizer/sensors/placeholder.svg">
                </div>
                <div id="sensor-humedad" class="sensor">
                    <img src="../assets/visualizer/sensors/placeholder.svg">
                </div>
                <div id="sensor-altitud" class="sensor">
                    <img src="../assets/visualizer/sensors/placeholder.svg">
                </div>
                <div id="sensor-camara" class="sensor">
                    <img src="../assets/visualizer/sensors/placeholder.svg">
                </div>
                <div id="sensor-rayosuv" class="sensor">
                    <img src="../assets/visualizer/sensors/placeholder.svg">
                </div>
                <div id="sensor-co2" class="sensor">
                    <img src="../assets/visualizer/sensors/placeholder.svg">
                </div>
                <div id="sensor-ubicacion" class="sensor">
                    <img src="../assets/visualizer/sensors/placeholder.svg">
                </div>
                <div id="sensor-tiempo" class="sensor">
                    <img src="../assets/visualizer/sensors/placeholder.svg">
                </div>
            </div>
        </div>
    </div>
</body>

<script src="../js/bootstrap-js/bootstrap.min.js"></script>
<script src="../js/visualizer.js"></script>


</html>